@font-face {
	font-family: 'atkreg';
	src: url("../fonts/Atkinson-Hyperlegible-Regular-102.ttf");
}
@font-face {
	font-family: 'optpcs';
	src: url("../fonts/OptimusPrincepsSemiBold.ttf");
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'atkreg';
  padding: 20px;
  background-image: url("../images/depths/bg.png");
  background-attachment: fixed;
  background-position: center;
}

a {
	color:#000;
	margin-top: 20px;
}

/* Header/Blog Title */
.header {
  font-family: 'optpcs';
  padding: 30px;
  font-size: 40px;
  text-align: left;
  background: rgba(255, 255, 255, 0.75);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  opacity: 1.0;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.75);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: rgba(225, 225, 225, 0.9);
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}